.el-dialog{
  .el-dialog__footer{
    padding: 20px;
    border-top: 1px solid #ebeef5;
  }
}
.el-drawer__footer{
  padding: 20px !important;
  border-top: 1px solid #ebeef5;
}


.el-table{
  .el-table__cell{
    .cell{
      word-break: break-all;
      white-space: nowrap;
    }
  }
}

.el-drawer{
  .el-drawer__header{
    padding: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #dcdfe6;
  }
  --el-drawer-padding-primary: 10px
}